# Node / Vite
node_modules/
.vite/
dist/
.DS_Store

# Env
.env*
src/data/avacy/.env
src/data/avacy/env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.vscode/
.idea/
*.swp

# OS
Thumbs.db
